In [1]:
import numpy as np
import pandas as pd
#([50, 44, 28, 5, 3, 1, 0, 0, 0], [[731], [193],[103],[26],[18],[21],[2],[2],[2]]
random_array = np.random.randint(low=50,high=731,size=(5,1))
display(random_array)

array([[449],
       [613],
       [215],
       [457],
       [547]])

In [2]:
#рандомные данные для проверки работы нейронной сети
price=np.random.randint([50,], 731,size=(1224,1))
totsp=np.random.randint([44,], 193,size=(1224,1))
livesp=np.random.randint([28,], 103,size=(1224,1))
kitsp=np.random.randint([5,], 26,size=(1224,1))
dist=np.random.randint([3,], 18,size=(1224,1))
metrdist=np.random.randint([1,], 21,size=(1224,1))
walk=np.random.randint([0,], 2,size=(1224,1))
brick=np.random.randint([0,], 2,size=(1224,1))
floor=np.random.randint([0,], 2,size=(1224,1))
random_data=np.hstack((price,totsp,livesp,kitsp,dist,metrdist,walk,brick,floor))
random_data = pd.DataFrame(random_data,columns=[['price','totsp','livesp','kitsp','dist','metrdist','walk','brick','floor']])

In [3]:
random_data

     price totsp livesp kitsp dist metrdist walk brick floor
0      508   166     82     5   15       11    0     0     0
1      540   130     86    19   11       15    1     1     1
2      656   160     74     8   15        2    0     0     0
3       98   176     49    24    3        6    1     1     1
4      330    93     41    11   15       14    1     0     0
...    ...   ...    ...   ...  ...      ...  ...   ...   ...
1219   111   171     66    23   15        2    0     0     0
1220   274   132     91     9   13       15    1     1     0
1221   604   117     95    11   12       13    1     1     1
1222   421    60     63    19   10       19    1     0     0
1223   211   172     62     7    5       19    1     1     0

[1224 rows x 9 columns]

In [4]:
random_data.to_csv('рандомные данные_Цены квартир в Москве.csv', index=False)

In [5]:
random_data = pd.DataFrame(random_data,columns=[['price','totsp','livesp','kitsp','dist','metrdist','walk','brick','floor']])
random_data['code'] = ''
display(random_data.head())

  price totsp livesp kitsp dist metrdist walk brick floor code
0   508   166     82     5   15       11    0     0     0
1   540   130     86    19   11       15    1     1     1
2   656   160     74     8   15        2    0     0     0
3    98   176     49    24    3        6    1     1     1
4   330    93     41    11   15       14    1     0     0